


.game-index-title{
    width:13rem;
    background-color: hsla(0, 12%, 20%, 0.5);
    padding-left : 1rem;
}

.game-card{
    transition: transform .2s;
    width:20rem;
}

.game-card:hover {
    transform: scale(1.1);
}

.card-img{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    max-height:20rem;
}

.btn-game{
    background-color:rgb(70, 70, 145);
}

.btn-game:hover{
    background-color:cornflowerblue;
}

.btn-game-yellow{
    color:yellow;
}
.btn-game-green{
    color:green;
}
.btn-game-red{
    color:red;
}

.not-hovered:not(.hovered){
    transition: all 0.3s ease-in;
    opacity:30%
}

.link-green{
    color:green;
}

.link-green{
    color:limegreen;
}