.separator.game-review{
    min-height:3rem;
}

.review-card{
    max-width:24rem;
    min-height:16rem;
}

.not-hovered:not(.hovered){
    transition: all 0.3s ease-in;
    opacity:30%
}


.main {
    display:flex;
    flex-direction: column;
}

.game.background{
    background-color: hsla(0, 12%, 20%, 0.8);
    border-radius: 10px;
    border : solid 2px rgb(136, 130, 130);
}

.div-review-game{
    background-color: rgb(41, 35, 35);
    border : solid 2px rgb(136, 130, 130);
    border-radius: 10px;
}
